.snacks__image {
  width: 170px;
  height: 160px;
  float: right;
}

@media (max-width: 771px) {
  .snacks__image {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .snacks__image {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 421px) {
  .snacks__image {
    width: 102px;
    height: 102px;
  }
}
