.snacks__image {
  width: 170px;
  height: 160px;
  float: right;
}

@media (max-width: 771px) {
  .snacks__image {
    width: 200px;
  }
}

@media (max-width: 770px) {
  .snacks__image {
    width: 8rem;
    height: 8rem;
  }
}
