.page {
  font-family: 'Roboto';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.snacks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 470px);
  gap: 32px;
  justify-content: center;
}

@media (max-width: 990px) {
  .snacks {
    grid-template-columns: repeat(auto-fill, 700px);
  }
}
@media (max-width: 770px) {
  .snacks {
    grid-template-columns: repeat(1, 600px);
  }
}
@media (max-width: 600px) {
  .snacks {
    grid-template-columns: repeat(1, 300px);
  }
}

.snacks__card {
  outline: 1px solid #75757533;
  transition: 1s;
  border-radius: 10px;
}
.snacks__card:hover {
  box-shadow: 5px 5px 15px #75757533;
  transform: scale(1.03);
  cursor: pointer;
}

.snacks__title {
  margin: 56px 81px 32px;
}

@media (max-width: 1300px) {
  .snacks__title {
    margin-left: 150px;
  }
}

@media (max-width: 1000px) {
  .snacks__title {
    margin-left: 100px;
  }
}

@media (max-width: 450px) {
  .snacks__title {
    margin-top: 100px;
  }
}
.snakcs-price {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
}

.snakcs__text {
  margin-bottom: 24px;
}
@media (max-width: 771px) {
  .snakcs__text {
    margin-bottom: 0;
  }
}
.snacks__image {
  width: 170px;
  height: 160px;
  float: right;
}

@media (max-width: 771px) {
  .snacks__image {
    width: 200px;
  }
}

@media (max-width: 770px) {
  .snacks__image {
    width: 130px;
    height: 120px;
  }
}
