.page {
  font-family: 'Roboto';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.snacks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 470px);
  gap: 32px;
  justify-content: center;
}

.snacks__card {
  outline: 1px solid #75757533;
  transition: 1s;
  border-radius: 10px;
}
.snacks__card:hover {
  box-shadow: 5px 5px 15px #75757533;
  transform: scale(1.03);
  cursor: pointer;
}

.snacks__title {
  margin: 56px 81px 32px;
}
