.page {
  font-family: 'Roboto';
  margin: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  margin-right: 80px;
}
@media (min-width: 870px) and (max-width: 1000px) {
  .header__nav {
    margin-right: 40px;
  }
}
@media (max-width: 870px) {
  .header__nav {
    margin-right: 0;
  }
}

.header__logo {
  margin-left: 80px;
}

@media (min-width: 870px) and (max-width: 1000px) {
  .header__logo {
    margin-left: 40px;
  }
}
@media (max-width: 870px) {
  .header__logo {
    margin-left: 0;
  }
}

.header__basket-logo {
  margin-left: 27px;
}

@media (max-width: 400px) {
  .header__basket-logo {
    display: none;
  }
}

.search {
  max-width: 956px;
  margin: 0 auto;
}
.search__text {
  color: #626262;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

.search__line {
  color: #757575;
  max-width: 956px;
}
