.pushkin__title {
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  color: #1d1d1d;
  padding-bottom: 62px;
  padding-top: 28px;
  margin: 0;
}

@media (max-width: 971px) {
  .pushkin__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1em;
  }
}
