.footer {
  position: relative;
  background: #262626;
  color: #fff;
  margin-top: 100px;
  padding: 56px 81px 0;
}
@media (max-width: 1000px) {
  .footer {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.footer__home {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  background: url(../../images/Shape.png) no-repeat center;
  cursor: pointer;
}
